<div [formGroup]="form" >
  <div style="display: flex; flex-direction: row;">
    <div style="width: auto;">
      <label [attr.for]="questionComp.key" *ngFor="let item of questionComp.newLabel">{{
        item.LanguageLabelSelected
      }}</label>
    </div>
    <div class="errorMessage" *ngIf="!isValid" style="padding-left: 10px;">
      <div *ngFor="let item of questionComp.newLabel">
        <i
          style="color: red; font-size: 14px;"
          *ngIf="item.LanguageLabelSelected"
          >{{ item.LanguageLabelSelected }} has an error or is required
        </i>
      </div>
    </div>
  </div>
  <div style="padding-bottom: 10px;">
    <input
      style="padding: 5px; width: 300px;"
      [id]="questionComp.key"
      [formControlName]="questionComp.key"
      [type]="questionComp.type"
      [ngClass]="{ invalid: !isValid }"
    />
  </div>
</div>
