.invalid { border: 3px solid red; }
.inputStyling {
  padding-bottom: 20px;
}
.radiobutton {
  display: flex;
  flex-direction: row;
}
input {
  border: solid black;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  margin: 0 0 10px 0;
}
input:hover{
  background: lightgrey;
}
