<div [formGroup]="form">
	<div style="width: 100%">
	<label
		[attr.for]="questionComp.key"
		*ngFor="let item of questionComp.newLabel"
		>{{ item.LanguageLabelSelected }}</label
	>
	</div>
	<div style="padding-bottom: 10px">
	<select
		[id]="questionComp.key"
		[required]="questionComp.required"
		[formControlName]="questionComp.key"
	>
	    <option value="" disabled selected *ngIf="placeholder">
			{{ placeholder }}
		</option>
		<option *ngFor="let opt of questionComp.options" [value]="opt.key">
			{{ opt.value }}
		</option>
	</select>
	</div>
</div>
