.invalid { border: 3px solid red; }
.inputStyling {
  padding-bottom: 20px;
}
.radiobutton {
  display: flex;
  flex-direction: row;
}
select{
  width: 315px;
  border: solid black;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 5px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}
select::after{
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background: lightgrey;
}

select:hover{
  background: lightgrey;
}

select.active{
  background: rgba(255,255,255,0.5);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
