<div>
  <form id="questionGroup" (ngSubmit)="onButtonClick()" [formGroup]="form">
    <div>
      <div style="padding-bottom: 10px">
        <select
          #languageSelectVar
          formControlName="languageSelectName"
          id="languageSelect"
        >
          <option hidden selected value="">Please select a language</option>
          <option *ngFor="let item of languageArray2">{{ item }}</option>
        </select>
      </div>
      <!-- <div
        class="form-row"
        style="padding-bottom: 10px"
        (click)="generateForm(languageSelectVar.value, $event)"
      >
        <button [disabled]="languageSelectVar.value == ''" type="button">
          Generate form
        </button>

      </div>

      <div
        class="form-row"
        style="padding-bottom: 10px"
        (click)="generateForm2(languageSelectVar.value, $event)"
      >
        <button [disabled]="languageSelectVar.value == ''" type="button">
          Generate form 2 test
        </button>

      </div> -->
    </div>

    <div id="questionForm" [formGroup]="questionsForm" *ngFor="let question of questionsVar" class="form-row">
      <div [ngSwitch]="question.controlType" id="questionForAppForm">
        <form-text
          *ngSwitchCase="'textbox'"
          [form]="questionsForm"
          [questionComp]="question"
        >
        </form-text>

        <form-select
          *ngSwitchCase="'dropdown'"
          [form]="questionsForm"
          [questionComp]="question"
          placeholder="Select a dropdown value"
        >
        </form-select>
      </div>
    </div>
    <div style="display: flex; flex-direction: row">
      <div>
        <button
          (click)="onButtonClick()"
          *ngIf="openForm"
          [disabled]="!questionsForm.valid"
          class="btn btn-success"
          type="button"
        >
          Save
        </button>
      </div>
      <div
        style="padding-left: 10px; padding-right: 10px"
        
        *ngIf="showChangeLanguageButton == true"
      >
        <button
          (click)="onLanguageChangeClick()"
          class="btn btn-success"
          type="button"
        >
          Change language
        </button>
      </div>
    </div>
  </form>

  <div class="form-row" *ngIf="payLoad">
    <strong>Saved the following values</strong><br />{{ payLoad }}
  </div>
</div>

<!--
qJson = ref from file ("abc.json")

FormElements = new questiongroup(qJson)

findelementbyid("claimform").isetginnerhtml(formElements)
form1.app-dynamic-form.innerhtml = formElemnts


constructor (vJson, vLang)) {
for each in jsone {
if select then x = new formselect(json[index])
quoestiongroup.push(x)


}

return questiongroup

}
-->
