<html>
  <h1>Dynamic form for Apbco</h1>
  <app-dynamic-form></app-dynamic-form>
  <button (click)="setHerman()">set Herman</button>
  <button (click)="setAdolf()">set Adolf</button>
  <div id="adolf" [formGroup]="formBuild"></div>
  <div id="herman" [formGroup]="formBuildHerman"></div>
</html>
